In [ ]:
-- 1 List the employee number, last name, first name, sex, and salary of each employee.

SELECT e.emp_no, e.first_name, e.last_name, e.sex, s.salary
FROM employees e
JOIN salaries s on e.emp_no = s.emp_no

In [ ]:
-- 2 List the first name, last name, and hire date for the employees who were hired in 1986.

SELECT first_name, last_name, sex, hire_date
FROM employees
WHERE hire_date >= '1986-01-01' AND hire_date <= '1986-12-31';

In [ ]:
-- 3 List the manager of each department along with their department number, department name, employee number, last name, and first name.

SELECT e.first_name, e.last_name, dm.emp_no, d.dept_name, d.dept_no  
FROM dept_manager dm
JOIN employees e ON dm.emp_no = e.emp_no
JOIN departments d ON dm.dept_no = d.dept_no;

In [ ]:
-- 4 List the department number for each employee along with that employeeâ€™s employee number, last name, first name, and department name.

SELECT e.emp_no, e.last_name, e.first_name, d.dept_no, dept_name
FROM departments d
JOIN dept_emp de ON d.dept_no = de.dept_no
JOIN employees e ON de.emp_no = e.emp_no

In [ ]:
-- 5 List first name, last name, and sex of each employee whose first name is Hercules and whose last name begins with the letter B.

SELECT first_name, last_name, sex
FROM employees
WHERE first_name = 'Hercules' AND last_name LIKE 'B%';

In [ ]:
-- 6 List each employee in the Sales department, including their employee number, last name, and first name.

SELECT d.dept_name, e.emp_no, e.last_name, e.first_name
FROM departments d
JOIN dept_emp de on d.dept_no = de.dept_no
JOIN employees e on de.emp_no = e.emp_no
WHERE d.dept_name = 'Sales'

In [ ]:
--7 List each employee in the Sales and Development departments, including their employee number, last name, first name, and department name.

SELECT d.dept_name, e.emp_no, e.last_name, e.first_name
FROM departments d
JOIN dept_emp de on d.dept_no = de.dept_no
JOIN employees e on de.emp_no = e.emp_no
WHERE d.dept_name = 'Development' OR d.dept_name = 'Sales'

In [ ]:
-- 8 List the frequency counts, in descending order, of all the employee last names (that is, how many employees share each last name).

SELECT last_name, COUNT(*) AS frequency
FROM employees
GROUP BY last_name
ORDER BY frequency DESC;